<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE probedesc PUBLIC "-//jrds//DTD Probe Description//EN" "urn:jrds:probedesc">
<probedesc>
    <name>PerfOS_System</name>
    <probeName>system</probeName>
    <probeClass>jrds.probe.Wmiprobe</probeClass>
    <specific name="wbemClass">Win32_PerfRawData_PerfOS_System</specific>
    <ds>
        <dsName>Processes</dsName>
        <dsType>gauge</dsType>
        <collect>Processes</collect>
    </ds>
    <ds>
        <dsName>Threads</dsName>
        <dsType>gauge</dsType>
        <collect>Threads</collect>
    </ds>
    <ds>
        <dsName>QueueLength</dsName>
        <dsType>gauge</dsType>
        <collect>ProcessorQueueLength</collect>
    </ds>
    <ds>
        <dsName>CtxtSwitches</dsName>
        <dsType>counter</dsType>
        <collect>ContextSwitchesPerSec</collect>
    </ds>
    <ds>
        <dsName>ExceptionDispatches</dsName>
        <dsType>counter</dsType>
        <collect>ExceptionDispatchesPerSec</collect>
    </ds>
    <ds>
        <dsName>SystemCalls</dsName>
        <dsType>counter</dsType>
        <collect>SystemCallsPerSec</collect>
    </ds>
    <graphs>
        <name>threads</name>
        <name>Context switches</name>
    </graphs>
</probedesc>
